body {
  font-family: 'Noto Sans HK', sans-serif;
  color: #6d7375;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.2px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Noto Serif TC', sans-serif;
  font-size: 38px;
  line-height: 1.1;
  font-weight: 700;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Noto Serif TC', sans-serif;
  font-size: 32px;
  line-height: 1.1;
  font-weight: 700;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

a {
  color: #a5689c;
  text-decoration: underline;
}

img {
  display: inline-block;
  max-width: 100%;
}

figure {
  margin-bottom: 10px;
}

.underline {
  width: 100%;
  height: 2px;
  margin-top: 2px;
  background-color: #a5689c;
  -webkit-transform: scale3d(0, 1, 1);
  transform: scale3d(0, 1, 1);
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.icon-box {
  padding: 10px;
}

.social-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 100px;
}

.menu-button {
  display: none;
  cursor: pointer;
}

.navigation-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.brand-container {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  text-decoration: none;
}

.nav-link {
  margin-left: 30px;
  padding: 16px 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 2px solid rgba(223, 179, 145, 0);
  color: #454646;
  font-size: 14px;
  text-decoration: none;
}

.navigation {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}

.nav-menu {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.icon {
  width: 20px;
  background-color: #454646;
}

.footer-link {
  margin-top: 8px;
  color: #6d7375;
  font-size: 14px;
  text-decoration: none;
}

.footer-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 30px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  -ms-grid-columns: -webkit-max-content -webkit-max-content -webkit-max-content -webkit-max-content -webkit-max-content;
  -ms-grid-columns: max-content max-content max-content max-content max-content;
  grid-template-columns: -webkit-max-content -webkit-max-content -webkit-max-content -webkit-max-content -webkit-max-content;
  grid-template-columns: max-content max-content max-content max-content max-content;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.icon-footer {
  padding: 10px;
}

.medium-paragraph {
  color: #454646;
  font-weight: 700;
}

.h1 {
  position: relative;
  z-index: 200;
  margin-top: 0px;
  margin-bottom: 20px;
  color: #454646;
  font-size: 54px;
  line-height: 54px;
}

.contact-content-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 540px;
  margin-top: 30px;
  margin-bottom: 0px;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-style: solid;
  border-width: 1px;
  border-color: #e7edf0;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.input-field {
  width: 100%;
  min-height: 54px;
  margin-bottom: 30px;
  padding: 10px 0px 4px;
  border-style: none none solid;
  border-width: 1px;
  border-color: #000 #000 #c3cbcd;
  background-color: transparent;
  font-family: Nunito, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.4px;
}

.input-field:focus {
  border-bottom-width: 2px;
  border-bottom-color: #a5689c;
}

.underline-button {
  text-decoration: none;
}

.button-secondary {
  margin-top: 30px;
  padding: 10px 24px;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1.5px #fff;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

.h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  color: #fff;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: 0.4px;
}

.h5 {
  position: relative;
  z-index: 200;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Noto Sans HK', sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
}

.h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #454646;
  font-size: 36px;
  line-height: 48px;
}

.h2.margin-20 {
  margin-bottom: 20px;
}

.h2.margin-top {
  margin-top: 60px;
}

.h2.english {
  font-family: Poppins, sans-serif;
}

.button-line {
  position: absolute;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  width: 90%;
  height: 140%;
  box-shadow: inset 0 0 0 1.5px #a5689c;
}

.h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Noto Sans HK', sans-serif;
  color: #959c9e;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.button-primary {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  padding: 12px 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 2px;
  background-color: #a5689c;
  box-shadow: inset 0 0 0 1.5px #a5689c;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  text-decoration: none;
}

.button-primary.form {
  max-width: 540px;
  margin-top: 10px;
  background-color: #a5689c;
}

.underline-view-project {
  width: 100%;
  height: 2px;
  background-color: #454646;
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

.mouse-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 24px;
  height: 38px;
  margin-right: 14px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-style: solid;
  border-width: 2px;
  border-color: #6d7375;
  border-radius: 20px;
}

.logo-background {
  position: absolute;
  left: 0%;
  top: -18%;
  right: 0%;
  bottom: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  opacity: 0.16;
  color: #a5689c;
  font-size: 86px;
  font-weight: 700;
  letter-spacing: 5px;
}

.hero-image {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  max-width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-image: url('../images/young-woman-spa-massage-salon-1-1.jpg');
  background-position: 0% 50%;
  background-size: cover;
  background-attachment: scroll;
}

.max-width-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 478px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.wheel {
  width: 3px;
  height: 8px;
  margin-top: 4px;
  border-radius: 50px;
  background-color: #a5689c;
}

.scroll-wrapper {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  padding-left: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.icons-container-tablet {
  display: none;
}

.hero-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 90vh;
}

.hero-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.icon-2 {
  width: 20px;
  background-color: #454646;
}

.right-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.image {
  z-index: 200;
  width: 50%;
  height: 580px;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  background-image: url('../images/african-american-woman-receiving-relaxing-massage-spa-1.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.data {
  margin-right: 30px;
  margin-left: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: center;
}

.line {
  width: 1.5px;
  min-height: 100%;
  margin-bottom: 60px;
  padding-left: 1.5px;
  background-color: #a5689c;
}

.content-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin-top: 140px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.small-margin {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
  margin-left: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.data-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 40px;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.content-wrapper {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.collection-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.collection-list-wrapper {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.collection-list {
  display: -ms-grid;
  display: grid;
  margin-top: 80px;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.collection-item-wrapper {
  position: relative;
  z-index: 100;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 360px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.collection-image {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  -o-object-fit: cover;
  object-fit: cover;
}

.background-card {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(13, 13, 13, 0.5);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.background-card:hover {
  opacity: 1;
}

.content-card-wrapper {
  position: absolute;
  z-index: 200;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.google-maps-embed {
  z-index: 200;
  width: 50%;
  height: 600px;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.contact-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 540px;
  margin-right: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  margin-bottom: 140px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-full-width {
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.category-image {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 360px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/young-woman-spa-massage-salon-1-1.jpg');
  background-position: 50% 20%;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-overlay {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;
  background-color: rgba(31, 32, 32, 0.6);
}

.project-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 830px;
  margin-right: auto;
  margin-bottom: 60px;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-back-button-2 {
  color: #454646;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  text-decoration: none;
}

.projects-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin-top: 70px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.project-description {
  font-size: 18px;
  font-weight: 300;
}

.project-description img {
  max-width: 400px;
}

.projects-wrapper {
  width: 100%;
  margin-top: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(auto, 480px));
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.projects-list {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.project-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.link-image-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-decoration: none;
}

.project-preview-image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -o-object-fit: cover;
  object-fit: cover;
}

.project-preview-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.project-title {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #454646;
  font-weight: 400;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fcfaf8;
}

.license-link {
  margin-top: 10px;
  color: #6d7375;
  text-decoration: none;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-error {
  height: 140px;
  margin-bottom: 20px;
}

.h2-2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Poppins, sans-serif;
  color: #2b2f4e;
  font-size: 44px;
  line-height: 54px;
  font-weight: 600;
  letter-spacing: -1px;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 340px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.contact-text {
  margin-top: 10px;
  margin-bottom: 20px;
}

.footer-bottom-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-meta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-meta-item {
  margin-left: 24px;
}

.underline-link {
  text-decoration: none;
}

.small-text {
  font-size: 14px;
  line-height: 22px;
}

.small-text.english {
  font-family: Poppins, sans-serif;
}

.underline-container {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: rgba(8, 38, 42, 0.1);
}

.underline-line {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 0%;
  height: 1px;
  background-color: #a5689c;
}

.page-heading {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #454646;
  font-size: 48px;
}

.page-heading.white-text {
  position: relative;
  z-index: 300;
  background-color: transparent;
  color: #fff;
}

.project-main-image {
  width: 100%;
  margin-bottom: 40px;
}

.projects-related-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-bottom: 70px;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .social-menu {
    display: none;
    margin-bottom: 30px;
    padding-right: 10px;
  }

  .navigation-container {
    padding-right: 20px;
    padding-left: 20px;
  }

  .brand-container {
    padding-right: 20px;
    padding-left: 20px;
  }

  .nav-menu {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }

  .icon {
    background-color: #6d7375;
  }

  .h1 {
    max-width: 400px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 44px;
    line-height: 44px;
    text-align: center;
  }

  .form {
    padding-right: 20px;
    padding-left: 20px;
  }

  .input-field {
    margin-top: 0px;
  }

  .button-secondary {
    display: none;
    margin-top: 20px;
    background-color: transparent;
  }

  .h4 {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }

  .button-primary {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .button-primary.form {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .logo-background {
    top: -12%;
    font-size: 76px;
    line-height: 76px;
    text-align: center;
  }

  .hero-image {
    position: static;
    height: 420px;
    max-width: 100%;
    margin-top: 40px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: scroll;
  }

  .max-width-wrapper {
    max-width: 600px;
    margin-top: 140px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .scroll-wrapper {
    display: none;
  }

  .icons-container-tablet {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 60px;
  }

  .hero-section {
    width: 100%;
    height: 100%;
    min-height: auto;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
  }

  .hero-wrapper {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .icon-2 {
    background-color: #6d7375;
  }

  .right-wrapper {
    margin-right: 0px;
    margin-left: 20px;
  }

  .image {
    width: 46%;
    height: 480px;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    background-size: cover;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .data {
    margin-right: 20px;
    margin-left: 20px;
  }

  .line {
    margin-bottom: 30px;
  }

  .small-margin {
    margin-bottom: 30px;
  }

  .data-wrapper {
    margin-right: 0px;
    margin-left: 20px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .content-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .collection-list {
    margin-top: 40px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .collection-item-wrapper {
    height: 280px;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .content-card-wrapper {
    height: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .google-maps-embed {
    width: 46%;
    max-height: 480px;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .contact-form {
    width: 60%;
  }

  .category-image {
    height: 300px;
  }

  .project-title {
    margin-right: 20px;
  }

  .h2-2 {
    font-size: 38px;
    line-height: 48px;
  }
}

@media screen and (max-width: 767px) {
  .bottom-burger-line {
    width: 28px;
    height: 2px;
    padding-right: 0px;
    padding-bottom: 0px;
    border-radius: 20px;
    background-color: #6d7375;
  }

  .social-menu {
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
    display: none;
    width: auto;
    margin-top: 20%;
    margin-bottom: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .menu-button {
    position: relative;
    z-index: 2000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 36px;
    height: 36px;
    padding: 4px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }

  .brand-container {
    z-index: 2000;
    padding-right: 0px;
    padding-left: 0px;
  }

  .nav-link {
    display: block;
    margin-left: 0px;
    color: #6d7375;
    text-transform: uppercase;
  }

  .nav-link:hover {
    border-bottom-style: solid;
    border-bottom-color: transparent;
  }

  .center-burger-line {
    width: 28px;
    height: 2px;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-right: 0px;
    padding-bottom: 0px;
    border-radius: 20px;
    background-color: #6d7375;
  }

  .top-burger-line {
    width: 28px;
    height: 2px;
    padding-right: 0px;
    padding-bottom: 0px;
    border-radius: 20px;
    background-color: #6d7375;
  }

  .nav-menu {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 1000;
    display: none;
    width: 100vw;
    height: 60vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    -webkit-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }

  .footer-wrapper {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .h1 {
    text-align: center;
  }

  .underline-button {
    margin-left: 10px;
  }

  .button-line {
    border-width: 1.5px;
  }

  .hero-image {
    height: 340px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .max-width-wrapper {
    margin-top: 140px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .icons-container-tablet {
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .hero-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .hero-wrapper {
    width: 100vw;
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .right-wrapper {
    margin-left: 0px;
  }

  .image {
    display: block;
    width: 100%;
    height: 400px;
    max-height: none;
    margin-top: 40px;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    background-size: cover;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 0% 50%;
    object-position: 0% 50%;
  }

  .data {
    margin-right: 40px;
    margin-left: 40px;
  }

  .content-section {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .data-wrapper {
    margin-left: 0px;
  }

  .content-wrapper {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .collection-list {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .google-maps-embed {
    display: block;
    width: 100%;
    height: 400px;
    max-height: none;
    margin-top: 40px;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 0% 50%;
    object-position: 0% 50%;
  }

  .contact-form {
    width: 100%;
    margin-right: 0px;
  }

  .contact-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .category-image {
    height: 260px;
  }

  .text-back-button-2 {
    font-size: 16px;
    line-height: 24px;
  }

  .projects-section {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .projects-wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .project-title {
    font-size: 16px;
    line-height: 24px;
  }

  .image-error {
    height: 120px;
  }

  .footer-bottom-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-meta {
    margin-top: 36px;
  }

  .projects-related-section {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 479px) {
  figure {
    min-width: 100%;
  }

  .social-menu {
    display: none;
  }

  .brand-container {
    padding-right: 0px;
    padding-left: 0px;
  }

  .h1 {
    margin-right: 0px;
    margin-left: 0px;
    font-size: 30px;
    line-height: 30px;
  }

  .form {
    padding: 20px;
  }

  .input-field {
    line-height: 18px;
  }

  .button-secondary {
    margin-top: 20px;
    line-height: 18px;
  }

  .h3 {
    font-size: 18px;
    line-height: 26px;
  }

  .h5 {
    font-size: 14px;
    line-height: 20px;
  }

  .h2 {
    font-size: 26px;
    line-height: 32px;
    text-align: center;
  }

  .h4 {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }

  .button-primary {
    margin-bottom: 20px;
    padding: 10px 32px;
  }

  .logo-background {
    top: -10%;
    font-size: 58px;
    line-height: 58px;
  }

  .hero-image {
    height: 180px;
  }

  .max-width-wrapper {
    margin-top: 120px;
  }

  .icons-container-tablet {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 40px;
  }

  .hero-section {
    overflow: hidden;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .hero-wrapper {
    padding-right: 0px;
    padding-left: 0px;
  }

  .image {
    height: 380px;
  }

  .data {
    margin-right: 10px;
    margin-left: 10px;
  }

  .content-section {
    margin-top: 60px;
  }

  .collection-list {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .collection-item-wrapper {
    height: 180px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .content-card-wrapper {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .google-maps-embed {
    height: 380px;
  }

  .contact-wrapper {
    margin-bottom: 60px;
  }

  .category-image {
    height: 200px;
  }

  .projects-section {
    margin-top: 60px;
  }

  .project-description img {
    min-width: 100%;
  }

  .projects-list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .h2-2 {
    font-size: 26px;
    line-height: 32px;
    text-align: center;
  }

  .utility-page-content {
    margin-right: 16px;
    margin-left: 16px;
  }

  .footer-meta {
    display: -ms-grid;
    display: grid;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 12px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .footer-meta-item {
    margin-left: 0px;
  }

  .page-heading {
    font-size: 26px;
    line-height: 32px;
    text-align: center;
  }

  .projects-related-section {
    margin-top: 60px;
  }
}

